{{ diagnostic }}

<form #userEditForm="ngForm" *ngIf="user" (ngSubmit)="onSubmit(userEditForm)">

    <div class="page-header">
        <h2>{{ user.fullName }}</h2>
    </div>

    <div class="form-group form-group-sm">
        <label for="id">ID</label>
        <input type="number"
               id="id"
               name="id"
               class="form-control"
               value="{{ user.id }}"
               disabled
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="username">Username</label>
        <input type="text"
               id="username"
               name="username"
               class="form-control"
               [(ngModel)]="user.username"
               minlength="2"
               maxlength="30"
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               class="form-control"
               [(ngModel)]="user.email"
               minlength="3"
               maxlength="254"
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="firstName">First name</label>
        <input type="text"
               id="firstName"
               name="firstName"
               class="form-control"
               [(ngModel)]="user.firstName"
               minlength="2"
               maxlength="30"
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="lastName">Last name</label>
        <input type="text"
               id="lastName"
               name="lastName"
               class="form-control"
               [(ngModel)]="user.lastName"
               minlength="2"
               maxlength="30">
    </div>
    <div class="form-group form-group-sm">
        <label for="country">Country</label>
        <select id="country"
                name="countryId"
                class="form-control"
                [(ngModel)]="user.countryId"
                (ngModelChange)="onCountryChange($event)"
                (focus)="onCountrySelect()">
            <option value="null"></option>
            <option *ngIf="!countries && user.country" [value]="user.country.id">{{ user.country.name }}</option>
            <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label for="state">State</label>
        <select id="state"
                name="stateId"
                class="form-control"
                [(ngModel)]="user.stateId"
                (ngModelChange)="onStateChange($event)"
                (focus)="onStateSelect(user.countryId)"
                [disabled]="user.countryId == null || user.countryId == 'null'"> <!-- TODO: Check the country select instead of the model -->
            <option value="null"></option>
            <option *ngIf="!states && user.state" [value]="user.state.id">{{ user.state.name }}</option>
            <option *ngFor="let state of states" [value]="state.id">{{ state.name }}</option>
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label for="city">City</label>
        <select id="city"
                name="cityId"
                class="form-control"
                [(ngModel)]="user.cityId"
                (focus)="onCitySelect(user.stateId)"
                [disabled]="user.stateId == null || user.stateId == 'null'"> <!-- TODO: Check the state select instead of the model -->
            <option value="null"></option>
            <option *ngIf="!cities && user.city" [value]="user.city.id">{{ user.city.name }}</option>
            <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label for="language">Language</label>
        <select id="language"
                name="language"
                class="form-control"
                [(ngModel)]="user.languageId">
            <option value="null"></option>
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label for="birthAt">Birth at</label>
        <input type="date"
               id="birthAt"
               name="birthAt"
               class="form-control"
               [ngModel]="user.birthAt | date: 'y-MM-dd'"
               (ngModelChange)="user.birthAt = $event"
               max="{{ todayDate | date: 'y-MM-dd' }}">
    </div>
    <div class="form-group form-group-sm">
        <label for="createdAt">Created at</label>
        <input type="datetime-local"
               id="createdAt"
               name="createdAt"
               class="form-control"
               value="{{ user.createdAt | date: 'y-MM-ddTHH:mm:ss' }}"
               disabled
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="updatedAt">Updated at</label>
        <input type="datetime-local"
               id="updatedAt"
               name="updatedAt"
               class="form-control"
               value="{{ user.updatedAt | date: 'y-MM-ddTHH:mm:ss' }}"
               disabled
               required>
    </div>
    <div class="form-group form-group-sm">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="submitted || !userEditForm.valid">Submit</button>
        <button type="button"
                class="btn btn-default"
                (click)="goBack()">Cancel</button>
    </div>
</form>



