<div class="page-header">
    <h2>List of users</h2>
</div>

<ul>
    <li><a [routerLink]="['UserNew']">New user</a></li>
    <li *ngIf="selectedUser"><a (click)="gotoDetail()">Edit {{ selectedUser.firstName }}</a></li>
</ul>


<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#user of users"
                [class.active]="user === selectedUser"
                (click)="onSelect(user)">
                <th>{{ user.id }}</th>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.email }}</td>
            </tr>
        </tbody>
    </table>
</div>


