<div class="page-header">
    <h2>New user</h2>
</div>

<!--
Angular did. Angular creates and attaches an NgForm directive to the <form> tag automatically.

The NgForm directive supplements the form element with additional features. It holds the controls we created for the
elements with ngControl attributes and monitors their properties including their validity. It also has its own valid
property which is true only if every contained control is valid.
-->

<!-- Folks who don't like using the # character can use its canonical alternative, the ref- prefix.
For example, we can declare the our phone variable using either #phone or ref-phone. -->


<!-- TODO: Remove this when we're done -->
{{diagnostic}}