<ul>
    <li><a routerLink="/users/new">New user</a></li>
    <li *ngIf="selectedUser"><a (click)="goToUserEdit()">Edit {{ selectedUser.firstName }}</a></li>
    <li *ngIf="selectedUser"><a (click)="deleteUser()">Delete {{ selectedUser.firstName }}</a></li>
</ul>

<div class="table-responsive">
    <table class="table table-condensed table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Full name</th>
                <th>Age</th>
                <th>Country</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users"
                [class.active]="user === selectedUser"
                (click)="onSelect(user)">
                <th>{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstName }} {{ user.lastName }}</td>
                <td>{{ user.birthAt | timeBetween: todayDate: ageFormat | i18nPlural: timeMapping }}</td>
                <td>{{ user.country?.name }}</td>
                <td>{{ user.createdAt | date: 'medium' }}</td>
            </tr>
        </tbody>
    </table>
</div>


