<form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">

    <div class="page-header">
        <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    </div>

    {{ diagnostic }}

    <div class="form-group form-group-sm">
        <label for="username">Username</label>
        <input type="text"
               id="username"
               name="username"
               class="form-control"
               [ngModel]="user.username"
               (ngModelChange)="user.username = ($event)? $event: null"
               minlength="2"
               maxlength="30"
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="email">Email</label>
        <input type="email"
               id="email"
               name="email"
               class="form-control"
               [ngModel]="user.email"
               (ngModelChange)="user.email = ($event)? $event: null"
               minlength="3"
               maxlength="254"
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="password">Password</label>
        <input type="password"
               id="password"
               name="password"
               class="form-control"
               [ngModel]="user.password"
               (ngModelChange)="user.password = ($event)? $event: null"
               minlength="4"
               maxlength="30"
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="firstName">First name</label>
        <input type="text"
               id="firstName"
               name="firstName"
               class="form-control"
               [ngModel]="user.firstName"
               (ngModelChange)="user.firstName = ($event)? $event: null"
               minlength="2"
               maxlength="30"
               required>
    </div>
    <div class="form-group form-group-sm">
        <label for="lastName">Last name</label>
        <input type="text"
               id="lastName"
               name="lastName"
               class="form-control"
               [ngModel]="user.lastName"
               (ngModelChange)="user.lastName = ($event)? $event: null"
               minlength="2"
               maxlength="30">
    </div>
    <div class="form-group form-group-sm">
        <label for="country">Country</label>
        <select id="country"
                name="countryId"
                class="form-control"
                [ngModel]="user.countryId"
                (ngModelChange)="user.countryId = ($event)? $event: null"
                (ngModelChange)="onCountryChange($event)"
                (focus)="onCountrySelect()">
            <option value=""></option>
            <option *ngFor="let country of countries" [ngValue]="country.id">{{ country.name }}</option>
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label for="state">State</label>
        <select id="state"
                name="stateId"
                class="form-control"
                [ngModel]="user.stateId"
                (ngModelChange)="user.stateId = ($event)? $event: null"
                (ngModelChange)="onStateChange($event)"
                (focus)="onStateSelect(user.countryId)"
                [disabled]="!user.countryId">
            <option value=""></option>
            <option *ngFor="let state of states" [ngValue]="state.id">{{ state.name }}</option>
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label for="city">City</label>
        <select id="city"
                name="cityId"
                class="form-control"
                [ngModel]="user.cityId"
                (ngModelChange)="user.cityId = ($event)? $event: null"
                (focus)="onCitySelect(user.stateId)"
                [disabled]="!user.stateId">
            <option value=""></option>
            <option *ngFor="let city of cities" [ngValue]="city.id">{{ city.name }}</option>
        </select>
    </div>
    <div class="form-group form-group-sm">
        <label for="birthAt">Birth at</label>
        <input type="date"
               id="birthAt"
               name="birthAt"
               class="form-control"
               [ngModel]="user.birthAt | date: 'y-MM-dd'"
               (ngModelChange)="user.birthAt = ($event)? $event: null"
               max="{{ todayDate | date: 'y-MM-dd' }}">
    </div>
    <div class="form-group form-group-sm">
        <button type="submit"
                class="btn btn-primary"
                [disabled]="submitted || !userEditForm.valid">Submit</button>
        <button type="button"
                class="btn btn-default"
                (click)="goBack()">Cancel</button>
    </div>
</form>