/* Shrink css */
body {
    font-size: 11px;
}

.h1,
h1,
.h2,
h2{
    font-size: inherit;
}

.navbar-fixed-fix {
    margin-top:70px;
}

.page-header {
    margin-top: 20px;
}

/* Forms */
.form-group {
    margin-bottom: 10px;
}

label {
    margin-bottom: 0;
}

.btn {
    font-size: inherit;
}

/* Forms css */
.ng-valid:not(form) {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
}