<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/dashboard">Angular2</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li *ngIf="user" routerLinkActive="active"><a routerLink="/admin">Admin</a></li>
                <li routerLinkActive="active"><a routerLink="/dashboard">Dashboard</a></li>
                <li routerLinkActive="active"><a routerLink="/users">Users</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!user" routerLinkActive="active"><a routerLink="/login">Log in</a></li>
                <li *ngIf="user"><a routerLink="/logout">Hi {{ user.username }}, Log out</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="navbar-fixed-fix">
    <router-outlet></router-outlet>
</div>