<p>{{ todoService | json }}</p>
<form>
    <div *ngFor="#todo of todoService.todos | status:selectStatusValue | filter:inputFilterValue" [class.has-success]="todo.status === 'done'">
        <!--
        Educational purpose only
        Pass data from view to another component, and the view of this component render the data
        1. Import the child component (into father component, import + directives)
        2. Send data through the view
        3. In the child component, get data trought @input decorator
        4. Render data in the child component view
        -->
        <todo-checkbox [todo]="todo" (toggle)="todoService.updateTodoStatus($event)"></todo-checkbox>
    </div>
</form>